@import "mixins";
@import "variables";
@import "animations";

.about-container {
  @include flex(center, center);
  gap: 6rem;
  padding: 2rem 0;
  color: var(--text-color);
  text-align: center;
  font-size: 1.5rem;
  @include for-size(tablet) {
    flex-flow: column-reverse;
    gap: 2rem;
  }
  @media screen and (min-width: 48em) and (max-width: 54em) {
    font-size: 1.25rem;
  }
}
.about-content {
  @include flex(center, center);
  flex-flow: column;
  gap: 2rem;

  .about-text {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 1.75;
    max-width: 45ch;
  }
  // min 768px max 850px
  @media screen and (min-width: 48em) and (max-width: 54em) {
    .about-text {
      font-size: 1.25rem;
    }
  }
  @include for-size(tablet) {
    .about-text {
      font-size: 1.25rem;
      max-width: 100%;
    }
  }
  @include for-size(phone) {
    .about-text {
      font-size: 1rem;
    }
  }
}
.hero-img-container {
  flex-shrink: 0;
  //   border-radius: 55% 45% 30% 65% / 60% 35% 70% 40%;
  border: 5px solid var(--text-color);
  height: 320px;
  //   animation: bubble 8s ease-in-out infinite;
  transition: var(--transition);
  &:hover {
    img {
      translate: 0 0;
    }
  }
  img {
    object-fit: cover;
    object-position: center;
    transition: var(--transition);
    // margin-top: 2.5rem;
    height: 100%;
    width: 300px;
    // move left and up 1rem
    translate: -1rem -1.5rem;
    margin: 0;
    // border-radius: 500px;
  }
  @include for-size(phone) {
    height: 200px;
    img {
      width: 200px;
    }
  }
}
