@import "variables";
@import "mixins";

.contact-links {
  @include flex(center, center);
  flex-flow: row wrap;
  gap: 3rem;
  padding: 2rem;
  margin: auto;
  // max-width: 900px;
  // position: relative;
  a {
    @include flex(center, center);
    flex-flow: row wrap;
    gap: 1rem;
    text-decoration: none;
    color: var(--text-color);
    opacity: 0.8;

    .wapper {
      @include flex(center, center);
      border-radius: 50%;
      overflow: hidden;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    &:hover {
      opacity: 1;
      color: var(--primary-color);
    }
    .contact-link-icon {
      font-size: 3rem;
      padding: 0.5rem;
      flex-shrink: 0;
    }
  }
  @include for-size(tablet) {
    flex-flow: column;
    align-items: start;
    gap: 2rem;
    margin: auto;
    width: fit-content;
  }
  @include for-size(phone) {
    gap: 1rem;
    padding: 0;
    a {
      padding: 0.5rem;
      .contact-link-icon {
        // font-size: 2rem;
      }
      .contact-link-text {
        font-size: 0.8rem;
      }
    }
  }
}
