@import "variables";
@import "mixins";

header {
  @include flex(space-between, center);
  max-width: 1600px;
  margin: auto;
  position: sticky;
  top: 0;
  padding: 1rem; // 1rem
  background-color: var(--background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition-property: all;
  transition-duration: 300ms;
  .logo {
    @include flex(center, center);
    gap: 0.5rem;
    color: var(--primary-color);
    .logo-img {
      width: 50px;
      height: 50px;
    }
    @include for-size(desktop) {
      .logo-title {
        font-size: 2rem;
      }
    }
  }
  .navigation {
    @include flex(center, center);
    gap: 1rem;
    .nav-link {
      margin: 1rem;
      a {
        color: var(--neutral-color);
        text-decoration: none;

        &:hover {
          color: var(--secondary-color);
        }
      }
    }
    @include for-size(desktop) {
      gap: 0.5rem;
      .nav-link {
        margin: 0 1rem;
        a {
          font-size: 0.7rem;
        }
      }
    }
  }

  .hamburger-navigation {
    display: none;
    padding: 0 20px;
    // .hamburger {
    //   display: block;
    //   width: 30px;
    //   height: 30px;
    //   cursor: pointer;
    //   .bar {
    //     transition: y 300ms ease-in 300ms, rotate 300ms ease-in,
    //       opacity 0ms 300ms;
    //     transform-origin: center;
    //   }
    // }
    .line {
      transition: all 200ms ease-in-out 200ms, rotate 200ms ease-in-out,
        opacity 0ms 200ms;
      transform-origin: center;
    }
  }
  .hamburger-navigation[aria-expanded="true"] {
    .line {
      transition: all 200ms ease-in-out, rotate 200ms ease-in-out 200ms,
        opacity 0ms 200ms;
    }
    .top {
      rotate: 45deg;
    }
    .middle {
      opacity: 0;
    }
    .bottom {
      rotate: -45deg;
    }
  }
  .hamburger-navigation[aria-expanded="true"] :is(.top) {
    transform: translateY(15px);
  }
  .hamburger-navigation[aria-expanded="true"] :is(.bottom) {
    transform: translateY(-15px);
  }
  .hamburger-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    z-index: -1;
    @include flex(center, center);
    flex-direction: column;
    gap: 1rem;
    opacity: 0;
    .nav-link {
      margin: 1rem;
      a {
        color: var(--neutral-color);
        text-decoration: none;

        &:hover {
          color: var(--secondary-color);
        }
      }
    }
  }
  .hamburger-menu[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    z-index: 100;
  }
  @include for-size(desktop) {
    padding: 0.75rem;
  }
  @include for-size(tablet) {
    .logo {
      .logo-title {
        font-size: 1.5rem;
      }
      .logo-img {
        display: none;
      }
    }
    .navigation {
      display: none;
    }
    .hamburger-navigation {
      display: block;
      border: none;
      z-index: 101;
    }
  }
}

header * {
  transition: all;
  transition-duration: 300ms;
}

[data-theme="dark"] header {
  background-color: var(--dark-color);
  border-bottom: 1px solid var(--accent-color);
  * {
    background-color: var(--dark-color);
  }
  .logo {
    color: var(--white);
  }
  .navigation {
    .nav-link a {
      color: var(--white);
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.hide {
  transform: translateY(-100%);
}
.show {
  transform: translateY(0);
}

.toggle-mode {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.5rem;
  height: 1.8rem;
  .switch {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    inset: 0;
    background-color: gainsboro;
    border-radius: 1rem;
    &:before {
      content: "☀️";
      position: absolute;
      top: 0.2rem;
      left: 0.2rem;
      width: 1.35rem;
      height: 1.35rem;
      background-color: white;
      border-radius: 50%;
      transition: transform 300ms;
      font-size: 0.95rem;
    }
  }
}

input:checked + .slider {
  background-color: var(--accent-color);
  &:before {
    content: "🌙";
    transform: translateX(1.7rem);
  }
}
