@import "variables";
@import "mixins";
.skill {
  color: var(--text-color);
  .skill-container {
    @include flex(center, start);
    flex-flow: row wrap;
    gap: 0 2rem;
    @include for-size(tablet) {
      gap: 1rem;
    }
  }
}
.skill-group {
  display: grid;
  grid-template-columns: minmax(100px, 500px);
  &:nth-child(1) {
    @include flex(center, center);
    flex-flow: column wrap;
    width: 100%;
  }
  &:not(:nth-child(1)) {
    @include flex(space-between, center);
    flex-flow: column wrap;
    flex: 1;
  }
  // display: flex;
  // flex-flow: column wrap;
  // min-width: 200px;
  // max-width: 300px;
  .skill-list {
    @include flex(space-around, center);
    flex-flow: row wrap;
    flex-grow: 1;
    gap: 2rem;
    margin: auto;
    width: 100%;
    list-style-type: none;
    padding: 2rem;
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;
  }
  .skill-group-title {
    @include flex(center, center);
    padding: 1rem;
    gap: 1rem;
    transform: translateY(2rem);
    background-color: var(--background-color);
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
    color: var(--text-color);
    width: fit-content;
    margin: auto;

    .skill-icon {
      font-size: 2.5rem;
      color: var(--primary-color);
    }
    @include for-size(tablet) {
      transform: translateY(1rem);

      font-size: 1rem;
      padding: 0;
      .skill-icon {
        font-size: 2rem;
      }
    }
    @include for-size(phone) {
      gap: 1rem;
      background-color: var(--background-color);
      font-size: 1rem;
      transform: translateY(1rem);
      width: fit-content;
      margin: auto;
      padding: 0;
      .skill-icon {
        font-size: 2rem;
      }
    }
  }
  .skill-item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-width: 70px;
    box-shadow: var(--background-shadow);
    border-radius: 1rem;
    &:hover {
      box-shadow: var(--dark-shadow);
      transition: var(--transition);
      .skill-icon {
        color: var(--secondary-color);
        transition: var(--transition);
      }
    }
    .skill-icon {
      font-size: 3rem;
      color: var(--neutral-color);
    }
    h3 {
      margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: var(--font-weight-bold);
    }
    p {
      margin-top: 1rem;
      color: var(--text-color);
    }
  }
  @include for-size(tablet) {
    width: 400px;
    grid-template-columns: 1fr;

    .skill-group-title {
      font-size: 1rem;
    }
    .skill-list {
      @include flex(center, start);
      padding: 2rem 0.5rem;
      @include for-size(phone) {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 2rem 0.5rem;
      }
    }
    .skill-item {
      .skill-icon {
        font-size: 2.5rem;
      }
      .skill-name {
        font-size: 1rem;
      }
    }
  }
  @include for-size(phone) {
    width: 100%;
    &:not(:nth-child(1)) {
      flex: auto;
    }
  }
}
